<div class="text-center">
<h1> My Lists </h1>
</div>
<% if @lists.empty? %>
  <div class="text-center">
    <h2> You have no lists yet! </h2>
  </div>
<% else %>
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fit%>')">
  <h2> <%= link_to list.name, list_path(list) %> </h2>
  </div>
  <% end %>
<% end %>
